

.ex-1-square { 
    transition:2s;
}
.ex-1-square:hover{
  background-color:red;
}


.ex-2-square {
    transition:width 4s;    
  }
  
  .ex-2-square:hover{
    width:100%; 
  }



  .ex-3-square {
    transition:ease 2s;
       
}

.ex-3-square:hover{
  border-radius:50%;
  transition:linear;
  
} 

.ex-4-square {
    transition:2s;
  }
  
  .ex-4-square:hover{
    background-color:#fff;
  }


  .ex-5-square {
   
    transition:width 3s, height 3s;  
}

.ex-5-square:hover{
  width:100px;
  height:100px;
}

.ex-6-img:hover{
    filter: grayscale(1);
  }



.ex-7-img:hover{
    filter:sepia(1);
    transition: 3s;
}

.ex-8-img:hover{
    filter: grayscale(0.75);
    transition: 3s;
    border-radius: 10px;
}